<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ title }} - The Mean Bean</title>
</head>
<body>

    <header>
        <h1><a href="/">{{ title }}</a> Popular Beans</h1>
        <p>We are mean, our Beans are mean, be you're best bean.</p>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/beans">Beans</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>The Mean Bean Shop</h2>

        <section class="beans">
            {% for bean in beans %}
            <article class="bean">
                <h2>{{ bean.name }}</h2>

                <img src="/static/img/bean.jpg" alt="A place holder image for {{ bean.name }}">

                <p>{{ bean.description }}</p>

                <div class="bean-details">
                    <a href="/bean/{{ beans.index(bean) }}"> Learn More &#x2192</a>
                    <div class="price">
                        &#163;{{ bean.price }}
                        {% if bean.on_sale %}
                        <span class="sale">SALE</span>
                        {% endif %}
                    </div>
                    
                </div>
            </article>

            {% endfor %}
        </section>

    </main>
    <footer>
        <p>&copyThe Auchnagatt Fine Bean Company</p>
    </footer>
</body>
</html>